<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airport</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="bg-light pt-2 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a class="btn btn-block btn-outline-primary"
                       asp-controller="Home" asp-action="Index"
                       asp-route-category="">
                        Home
                    </a>
                </div>
                <div class="col-10">
                    <nav>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <div class="float-left">
                                    <a class="btn btn-primary ml-1"
                                       asp-controller="Administration" asp-action="ListRoles">Manage Roles</a>
                                    <a class="btn btn-primary ml-1"
                                       asp-controller="Administration" asp-action="ListUsers">Manage Users</a>
                                </div>
                            }
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="btn btn-primary float-right">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        }
                        else
                        {
                            <div>
                                <a class="btn btn-primary ml-1"
                                   asp-controller="Account" asp-action="Login">Login</a>
                                <a class="btn btn-primary ml-1"
                                   asp-controller="Account" asp-action="Registration">Registration</a>
                            </div>
                        }
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/js/CustomScript.js"></script>
    </footer>
</body>
</html>