<div class="container mt-3 mb-3">
    <div class="alert alert-primary mb-3">
        <h2>Thank you for confirming your email</h2>
    </div>

    <div>
        <a class="btn btn-danger" asp-action="Index" asp-controller="Home">
            Return to home page
        </a>
    </div>
</div>
