@{
    ViewData["Title"] = "HomePage";
}

<div class="container">
    <nav class="navbar navbar-light bg-light d-flex justify-content-end">
        <a class="btn btn-primary "
           asp-controller="Account" asp-action="Registration">Registration</a>
    </nav>
</div>