<div class="container mt-3 mb-3">
    <div class="alert alert-primary mb-3">
        <h2>@ViewBag.Title</h2>
        <h6>@ViewBag.Message</h6>
    </div>

    <div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a class="btn btn-outline-danger" asp-action="ListUsers" asp-controller="Administration">
                Return to list users
            </a>
        }
    </div>
</div>
