@{
    ViewBag.Title = "Not Found";
}

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col m-auto">
            <div class="alert alert-danger mb-3">
                <h2>@ViewBag.ErrorMessage</h2>
            </div>

            <div>
                <a class="btn btn-danger" asp-action="Index" asp-controller="Home">
                    Return to home page
                </a>
            </div>
        </div>
    </div>
</div>
